.home-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;

  .btn-etirement {
    background-color: #292929;
    color: #a2ff30;
    padding: 20px 40px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid #a2ff30;
    box-shadow: 0 0 15px #a2ff30;
    transition: transform 0.2s, box-shadow 0.2s;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 25px #a2ff30;
    }
  }
}

img {
  filter: brightness(9);
}
