.container-show{
  padding: 20px;
  .exercice{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
  }
  .exercice-name{
    display: flex;
    border: solid;
    padding: 20px;


  }

}
