  .container-show {
    padding: 20px;
      p {
        color: #a5ff30dc;
        font-family: "Alfa Slab One", serif;
        font-weight: 300;
        font-style: normal;
        text-align: center;
        letter-spacing: 0.5px;
      }

    .navigation {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 20px;
      gap: 50px;

      button {

        color: #c1ff30e8;
        font-family: "Alfa Slab One", serif;
        font-weight: 300;
        font-style: normal;
        letter-spacing: 0.5px;
        padding: 5px 20px;
        border: 1px solid #c1ff30e8;
        border-radius: 10px;
        background-color: transparent;
      }
    }

    .exercice {
      display: flex;
      flex-direction: column;
      padding: 20px;
      gap: 10px;
    }

    .exercice-card {
      display: flex;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      padding: 20px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 40px;
      overflow: visible;
      background-color: #292929;
      position: relative;

      .card-content {
        overflow: hidden;
        border-radius: 20px;
        width: 100%;
      }

      .picture {
        display: flex;
        max-height: 578px;
        min-height: 400px;
        align-items: center;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }

  .exercice-card.hidden {
    display: none;
  }

  body {
    background-color: #000000;
    color: #ffffff;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .rect {
      stroke-dasharray: 1500;
      stroke-dashoffset: 1500;
      animation: dash 120s linear forwards;
      filter: drop-shadow(0 0 5px #a2ff30)
    }
  }

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
