@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }

  .container-show {
    padding: 20px;

    .exercice {
      display: flex;
      flex-direction: column;
      padding: 20px;
      gap: 10px;
    }

    .exercice-card {
      display: flex;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      padding: 20px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      overflow: visible;
      background-color: #292929;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: -8px;
        left: -8px;
        right: -8px;
        bottom: -8px;
        border-radius: 28px;
        --angle: 0deg;
        background: conic-gradient(#a2ff30 var(--angle), transparent var(--angle));
        z-index: -1;
        animation: border-rotate 120s linear forwards;
         filter: drop-shadow(0 0 10px #a2ff30);
      }

      .card-content {
        overflow: hidden;
        border-radius: 20px;
        width: 100%;
      }

      .picture {
        display: flex;
        max-height: 578px;
        min-height: 400px;
        align-items: center;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          filter: brightness(1.6);
        }
      }
    }
  }

  @keyframes border-rotate {
    0% {
      --angle: 0deg;
    }
    100% {
      --angle: 360deg;
    }
  }

  .exercice-card.hidden {
    display: none;
  }

  body {
    background-color: #000000;
    color: #ffffff;
  }
